apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: binding-policy-cu-performance-addon-policy
  namespace: profile-ran-subscriptions
placementRef:
  name: placement-policy-cu-performance-addon-policy
  kind: PlacementRule
  apiGroup: apps.open-cluster-management.io
subjects:
- name: policy-config-performanceprofile-cu
  kind: Policy
  apiGroup: policy.open-cluster-management.io
